.col-width-100{
    width: 100px;
}

table tr:nth-child(odd) {
    background-color: #ffff;
  }
  table tr:nth-child(even) {
    background-color: #bad9f8;
  }
   
  .table .thead-dark th {
    color: #fff;
    background-color: #6cb1f7;
}